<md-toolbar md-colors="{background: 'grey-A100'}">
    <div class="md-toolbar-tools">
        <div class="md-padding">
            <md-icon ng-md-icon icon="play_circle_outline"></md-icon>
        </div>
        <h3 flex>{{'NOW_PLAYING' | translate}}</h3>
    </div>
</md-toolbar>
<md-content class="no-padding" flex>
<!--playlist-->
    <md-list>
        <md-list-item ng-repeat="track in vm.playerStatus.playlist track by track.id">
            <md-button ng-click="vm.playTrack($index)" flex layout="start center">
                <p class="md-caption">
                    <i ng-class="{'current-track': track.id === playerStatus.getCurrentTrack().id}">{{$index+1}}.
                        {{track.name}}</i>
                </p>
            </md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
